<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

    <description>spring整个mybatis的配置</description>

    <!--1.加载配置文件-->
    <context:property-placeholder location="classpath:properties/db.properties"/>

    <!--2.配置数据库连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--3.spring整合mybatis配置1: 把SqlSessionFactory创建交给spring-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--3.1 注入连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--指定加载的dao接口的映射文件（可选）
        <property name="mapperLocations" value=""/>
        <property name="configLocation" value="SqlMapConfig.xml主配置文件"/>
        <property name="typeAliasesPackage" value="别名配置：配置扫描的包"/>
        -->
        <!-- 注意其他配置 -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <!--使用下面的方式配置参数，一行配置一个 -->
                        <value>
                            helperDialect=mysql
                            reasonable=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!--4.spring整合mybatis配置2: 扫描dao接口所在的包-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

        <!--扫描此包以及此包下的所有子包-->
        <property name="basePackage" value="com.itheima.dao"/>

    </bean>

</beans>